Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h.in
/configure
/depcomp
/install-sh
/missing
*~

Makefile
.deps/
/config.h
/config.log
/config.status
/stamp-h1

.dirstamp
*.o
/src/mount.cdafs
